[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "components/badgeabi"]
	path = components/badgeabi
	url = https://robotman2412@github.com/robotman2412/badge-elfloader
